

body{
  color:black;
  background-color: #d8d8d8
  background-image: url(https://addons.opera.com/media/CACHE/images/themes/35/94135/1.0-rev1/images/0f713e40-058b-409d-a79e-406145949410/cf09fa3c903e0579828148f7c0ee0aae.jpg);

}

header{
  color:#d8d8d8;
  background-color:#d8d8d8;
  background-image: url(https://addons.opera.com/media/CACHE/images/themes/35/94135/1.0-rev1/images/0f713e40-058b-409d-a79e-406145949410/cf09fa3c903e0579828148f7c0ee0aae.jpg);

;vertical-align:top;text-align:center;

}
h1 {font-family: 'Michroma', sans-serif;
    text-align: center;height: 100;color: #d8d8d8

}
h2{
  font-family: 'Michroma', sans-serif;
  text-align: left;
  background-image: url(https://addons.opera.com/media/CACHE/images/themes/35/94135/1.0-rev1/images/0f713e40-058b-409d-a79e-406145949410/cf09fa3c903e0579828148f7c0ee0aae.jpg);
   border-color:black;
   border-style: solid;
   border-width: 1px;
   padding: 7px 7px;
}



body {
color:black;
background-color:#d8d8d8 100%;
background-image:url(images/image_de_fond.png);
border-width:2px;
border-style:solid;
border-color:black;
}


footer {
  font-family: 'Michroma', sans-serif;
text-align: center;
font-size:12;
height:50px;
color:white;
background-color:white;
background-image: url(https://addons.opera.com/media/CACHE/images/themes/35/94135/1.0-rev1/images/0f713e40-058b-409d-a79e-406145949410/cf09fa3c903e0579828148f7c0ee0aae.jpg);
}
